/* Import google font */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --layoutBackground-color: #F4F7FD;   /* Light Grey */
    --boardTitle-color: #FFFFFF;  /* white */
    --SidebarBackground-color: #FFFFFF;  /* white */
    --CardBackground-color: #FFFFFF;  /* white */
    --btn-color: #635FC7;  /* main purple */
    --btnHover-color: #4b47b7; /* secondary purple */
    --TODOicon-color: #49C4E5;  /* light blue */
    --DOINGicon-color: #8471F2;  /* purple */
    --DONEicon-color: #67E2AE;  /* light green */
    --h4Text-color: #828FA3;  /* medium Grey */
    --h2Text-color: #000112;  /* black */
    --text-color: #000112;  /* black */
    --btnText-color: #FFFFFF;  /* white */

}

/* Default Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--layoutBackground-color);
    width: 90rem;
    height: 64rem;
}

.flex-wrapper {
    display: flex;
}

/* Navigation sidebar styling */

.kanban-sidebar {
    width: 18.75rem;
    height: 64rem;
    background-color: var(--SidebarBackground-color);
}

.kanban-logo {
    width: 9.5331rem;
    height: 1.5762rem;
    object-fit: cover;
    margin-top: 2rem;
    margin-left: 2rem;
}

.kanban-nav-links {
    width: 17.25rem;
    height: 50rem;
    margin-top: 3.5625rem;
    margin-right: 2rem;
}

.allBoards-heading {
    font-weight: 700;
    font-size: .75rem;
    line-height: 100%;
    letter-spacing: .15rem;
    color: var(--h4Text-color);
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.launchCareer-btn {
    width: 17.25rem;
    height: 3rem;
    border: none;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    background-color: var(--btn-color);
    font-family: 'Plus Jakarta Sans';
    color: var(--btnText-color);
    font-weight: 700;
    font-size: .9375rem;
    line-height: 100%;
    margin: .0625rem 0;
    padding: 0;
    letter-spacing: 0;
}

/* btn hover effect */

.launchCareer-btn:hover {
    background-color: var(--btnHover-color);
    cursor: pointer;
}

/* Main layout styling */

.column-header {
    width: 71.25rem;
    height: 6.0625rem;
    background-color: var(--boardTitle-color);
    margin-left: .0625rem;
}

.column-heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 1px 0;
    letter-spacing: 0;
    padding-top: 2rem;
    padding-left: 2rem;
}

/* task column styling */

.task-card {
    width: 74.5rem;
    height: 53.3125rem;
    padding-top: 1.25rem;
    padding-left: 2rem;
}

.status-heading {
    display: inline-block;
    font-weight: 700;
    font-size: .75rem;
    line-height: 100%;
    margin: .0625rem 0;
    letter-spacing: .15rem;
    color: var(--h4Text-color);
    margin-bottom: 2rem;
}

span {
    padding-right: .75rem;
}

main {
    display: flex;
    gap: 1.25rem;
    font-weight: 700;
    font-size: .9375rem;
    line-height: 100%;
    margin: .0625rem 0;
    letter-spacing: 0;
    width: 54.5rem;
    height: 45.25rem;
}

.card {
    width: 17.5rem;
    height: 3.75rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--CardBackground-color);
    box-shadow: 0 .25rem .375rem 0 rgba(54,78,126,0.1015);
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: .9375rem;
    line-height: 100%;
    letter-spacing: 0;
}